@import '../_vars.scss';
@import '../_mixins.scss';

.contact {
    &__text {
        @include flex-space;
    }

    &__idea {
        margin-right: 39px;

        span {
            display: block;
            text-align: left;
            white-space: pre;
        }
    }

    &__item {
        padding: 31px 39px 31px 0;
        width: 100%;
    }

    &__button {
        height: 36px;
        width: 150px;
        padding: 0 6px;
        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);

        @include font-small;

        &_white {
            color: $light-blue;
            background: $white;
        }
    }
}
