@import '../_vars.scss';
@import '../_mixins.scss';

.footer {
    text-align: center;
    background: $black;
    color: $white;
    height: auto;

    &__inner {
        @include flex-space;

        flex-direction: row;
    }
}

.social {
    &__title {
        margin-bottom: 8px;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 11px;
        }
    }
}
