@import '../_vars.scss';
@import '../_mixins.scss';

.search {
    &__button {
        position: absolute;
        left: 19px;
        top: 13px;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__input {
        height: 44px;
        background: #f2f2f3;
        border-radius: 8px;
        border: none;
        color: $gray;
        padding: 8px 0 8px 56px;
        font-size: 18px;
        line-height: 28px;

        &:focus {
            outline: none;
        }
    }
}
