@import '../_vars.scss';
@import '../_mixins.scss';

.user {
    &:hover {
        border-bottom: 2px solid $light-blue;
    }

    &__button {
        border: none;
        background: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    &__wrapper {
        text-align: left;
    }

    &__title {
        color: $light-blue;
        font-weight: 600;
        padding: 0 2px 5px 0;
    }

    &__subtitle {
        font-size: 13px;
        line-height: 20px;
    }

    &__image {
        border-radius: 50%;
        margin-right: 16px;
    }
}
